<body>

    <!-- space for search bar! -->

    <button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Room </button>
    <br><br>

        <div class="interests">    
            <div class="title">More Interests</div>
            
            <div class="cards">
                <br><br>
                <div class="interest-card">
                    <p class="room-name">MCAT Study</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">CFA Study</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">Paint</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">Cooking</p>
                </div>
                
                <div class="interest-card">
                    <p class="room-name">SWE Interview</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">Reading</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">Gaming</p>
                </div>
                <div class="interest-card">
                    <p class="room-name">Cooking</p>
                </div>

            </div>
        </div>
    
    </body>