<body>

    <!-- space for search bar! -->
<div class="container">
	<div class="row">
	
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
		
	<button mat-raised-button type="submit" class="btn" routerLink="/create-account" routerLinkActive="active" style="margin-top: 1rem;">Create Account</button>
	<br><br>

	<br><br><br>
	</div>
	
	<div class="col-md-6 mainCreateAccountCard">
		    <button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Post </button>
    <br><br>
        
        <div class="interests">    
            <div class="title">More Interests</div>
            <a href="/" class="more" class="btn btn-default">Back</a> 
            
            <br>
            <input type="text" id="searchBar" (keyup)="filterRooms()" placeholder="Search">

            <div class="cards">
                <br><br>

                <a routerLink='/message-boards/MCAT' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">MCAT Study</p>
                    <p>Anyone prepping for<br> July test?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://www.instagram.com/kris.life_/')" href="https://www.instagram.com/kris.life_/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @kris.life_</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/Cooking' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">Cooking</p>
                    <p>Anyone wants to share <br>vegan recipes?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://discord.com/app')" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @olcious #2334</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/CFA' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">CFA Study</p>
                    <p>Anyone prepping for<br> September test?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294')" href="https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoclubhs.jpg"> @jello33</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/Paint' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">Painting</p>
                    <p>Any oil painting beginner <br>out there?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://www.instagram.com/j.a.c.simaes/')" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/SWE-Interview' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">SWE Interview</p>
                    <p>Anyone prepping <br> algorithm in java ?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294')" href="https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoclubhs.jpg"> @crash_vaja</a></div>
                </div>
                </a>
                
                <a routerLink='/message-boards/Reading' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">Reading</p>
                    <p>Anyone reading for<br> Just Mercy, let's discuss?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294')" href="https://apps.apple.com/us/app/clubhouse-drop-in-audio-chat/id1503133294"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoclubhs.jpg"> @hdjsbs33</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/Gaming' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">Gaming</p>
                    <p>Anyone playing <br> League of Legend?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://discord.com/app')" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @olcious #2334</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/Tennis' routerLinkActive="active">
                <div class="interest-card">
                    <p class="room-name">Tennis</p>
                    <p>Anyone know a popular place <br>to hit?</p>
                    <div class ="contact"> <a class="logolink" (click)="logoPress('https://discord.com/app')" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @olcious #2334</a></div>
                </div>
                </a>
                
            </div>
        </div>
	
	</div>
	
	
	</div>
    </div>
    
    </body>
