<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>FYI</title>
</head>
<body>

<div class="container">
<div class="row" style="">
  <div class="col-sm-6" style="background-color: #F4F4F4; width: 30rem; height: 70rem; text-align: center; border-radius: 1rem;">
	<h1 style="font-weight: 600;">FYI</h1>
	<h4>Find Ya Interest</h4>

	<a href="login.html"><button class="btn btn-default" style="border-color: white; padding-left: 4rem; padding-right: 4rem; display: block; margin: 0 auto; margin-top: 3rem;">Login</button></a>
			
	<a href="create-account.component.html"><button class="btn btn-warning" style="border-color: white; padding-left: 4rem; padding-right: 4rem; color: black; display: block; margin: 0 auto; margin-top: 3rem;">Create Account</button></a>
</div>

<div class="col-sm-6">
			
<div class="col-sm-6">
	<span class="label">Username</span> 
	<input type="text" name="username" placeholder="Username" (keyup)="UserName"><br><br>
	<span class="label">Password</span>
	<input type="text" name="password" placeholder="Password" (keyup)="Password"><br><br>
	
	<button mat-raised-button (click)="onLogin()">Login</button>
</div><br>

<a class="nav-link waves-light" mdbWavesEffect routerLink="/create-account" routerLinkActive="active">Forgot your credentials?</a>
	
</div>

	</div>
	
	</div>
</body>
</html>
