
<head>
	<meta charset="UTF-8">
	<title>FYI</title>
</head>

<div class="container">
<div class="row">
	
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn" style="background-color: white; width: 167px; height: 48px;" routerLink="/login-page" routerLinkActive="active">Login</button>
	<br><br>

	<br><br><br>
	</div>
	<div class="col-md-6 mainCreateAccountCard">

    <div class="">
      <h3>Login to your FYI Account</h3>
		<button class="btn" style="background-color: #F4F4F4" routerLink="/create-account" routerLinkActive="active">Don't have an account? Register</button>
		
		<div class="formGroup" style="padding-bottom: 1rem;">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>
		
      <div class="formGroup" style="padding-bottom: 1rem;">
        <input type="username" class="formControl" placeholder="Username" #userEmail required>
      </div>

      <div class="formGroup" style="padding-bottom: 1rem;">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>
		
		<button class="btn" style="background-color: #F4F4F4" routerLink="/forgot-login-page" routerLinkActive="active">Forgot your credentials?</button>

      <div class="formGroup">
        <input type="button" class="btn btn-warning" value="Login" (click)="auth.SignIn(userEmail.value, userPwd.value)">
      </div>

  </div>

</div>
</div>
	
</div>