<body>

    <!-- space for search bar! -->
    
	<div class="container">
	<div class="row">
		
	<div class="col-md-6 card">
    <h1><a href="/">FYI</a></h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="width: 235px;
    padding: 15px 0px;
    background-color: #FFF;  
    margin-bottom: 17px;">Login</button>
		
	<button mat-raised-button type="submit" class="btn" routerLink="/create-account" routerLinkActive="active" style="width: 235px;
    padding: 15px 0px;
    background-color: #FFD84F;
    border-radius: 0px;
    border: none; border-radius: 4px;">Create Account</button>
	<br><br>

	<br><br><br>
	</div>
		
		<div class="col-md-6 mainCreateAccountCard">
		
		<button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Post </button>
        <br><br>

        <div class="courses">    
            <div class="title">More Courses to join</div>
            <a href="/" class="more" class="btn btn-default">Back</a>   

            <div class="cards">
                <br><br>

                <a routerLink='/message-boards/CS115' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">CS 115</p>
                    <p>Prof Martin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/CS545' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">CS 545</p>
                    <p>Dr Lee <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @jayhey #9864</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/CS546' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">CS 546</p>
                    <p>Prof Martin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/E234' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">E 234</p>
                    <p>Dr Mo  <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/E344' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">E 344</p>
                    <p>Prof Hector <br>Research Paper</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/EM578' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">EM 578</p>
                    <p>Dr Dre <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/HSS200' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer" ><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">HSS 200</p>
                    <p>Dr Kim <br>Quiz3 prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @ohdjw #9800</a></div>
                </div>
                </a>

                <a routerLink='/message-boards/MA227' routerLinkActive="active">
                <div class="course-card">
                    <div class= "chatcontainer"><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                    <p class="room-name">MA 227</p>
                    <p>Dr Gavin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @jayhey #9864</a></div>
                </div>
                </a>
                
            </div>
        </div>
		
		</div>
		
		
		</div>
	
	</div>
    </body>
