<body>

    <!-- space for search bar! -->
    
        <button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Room </button>
        <br><br>

    
        <div class="courses">    
            <div class="title">More Courses to join</div>

            <div class="cards">
                <br><br>
                <div class="course-card">
                    <p class="room-name">MA 227</p>
                </div>
                <div class="course-card">
                    <p class="room-name">E 344</p>
                </div>
                <div class="course-card">
                    <p class="room-name">CS 545</p>
                </div>
                <div class="course-card">
                    <p class="room-name">E 234</p>
                </div>
                <div class="course-card">
                    <p class="room-name">CS 115</p>
                </div>
                <div class="course-card">
                    <p class="room-name">HSS 280</p>
                </div>
                <div class="course-card">
                    <p class="room-name">CS 545</p>
                </div>
                <div class="course-card">
                    <p class="room-name">EM 578</p>
                </div>
            </div>
        </div>
        
    
        
    </body>