<body>

    <!-- space for search bar! -->
    
	<div class="container">
	<div class="row">
		
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
		
	<button mat-raised-button type="submit" class="btn" routerLink="/create-account" routerLinkActive="active" style="margin-top: 1rem;">Create Account</button>
	<br><br>

	<br><br><br>
	</div>
		
		<div class="col-md-6 mainCreateAccountCard">
		
		<button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Room </button>
        <br><br>

        <div class="courses">    
            <div class="title">More Courses to join</div>

            <div class="cards">
                <br><br>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">CPE 766</p>
                    <p>Prof Martin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">MA 227</p>
                    <p>Dr Lee <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @jayhey #9864</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">CH 592</p>
                    <p>Prof Martin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">ME 356</p>
                    <p>Dr Mo  <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">BIO 733</p>
                    <p>Prof Hector <br>Research Paper</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">ME 356</p>
                    <p>Dr Dre  <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">CSS 560</p>
                    <p>Dr Kim <br>Quiz3 prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @ohdjw #9800</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">MA 227</p>
                    <p>Dr Gavin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @jayhey #9864</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">MA 227</p>
                    <p>Prof Martin <br>HW & test prep</p>
                    <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">ME 356</p>
                    <p>Dr Dre  <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>

                <div class="course-card">
                    <div class= "chatcontainer" ></div><a class = "chat" href='/chat-room/MA227'><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a>
                    <p class="room-name">ME 356</p>
                    <p>Dr Boamah <br>HW</p>
                    <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
                </div>
                
            </div>
        </div>
		
		</div>
		
		
		</div>
	
	</div>
    </body>