<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>FYI</title>
</head>
<body>

<div id=header>
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit">Login</button>
	<br><br>

	<button mat-raised-button type="submit">Create Account</button>
	<br><br><br>
</div>	

<form>
	<input type="text" name="email" placeholder="E-mail Adress" (keyup)="Email"><br><br>
	<input type="text" name="username" placeholder="Username"><br><br>
	<input type="text" name="password" placeholder="Password" (keyup)="Password"><br><br>
	<button mat-raised-button (click)="onCreate()">Create Account</button>
</form>

</body>
</html>
