
<head>
	<meta charset="UTF-8">
	<title>FYI</title>
</head>


<div class="container">

<div class="row">
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
	<br><br>

	<br><br><br>
	</div>
	
	<div class="col-md-6 mainCreateAccountCard">

    <div class="">
      <h3>Create your FYI account</h3>
		<button class="btn" style="background-color: #F4F4F4" routerLink="/login-page" routerLinkActive="active">Already have an account? Login</button>
		
		<div class="formGroup" style="padding-bottom: 1rem;">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>
		
      <div class="formGroup" style="padding-bottom: 1rem;">
        <input type="username" class="formControl" placeholder="Username">
      </div>

      <div class="formGroup" style="padding-bottom: 1rem;">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Create" routerLink="/login-page" routerLinkActive="active" (click)="auth.SignUp(userEmail.value, userPwd.value)">
      </div>

  </div>

</div>
</div>	

  

