select{
    border: 1px solid #aaa;
  }

    /* TO DO: figure out why css file is not working with HTML of component */
  .specific-room{
    display: none;
  }
  
  .course{color: black;}
  .interest{color: black;}

  .form-control{
      margin-top: 10px;
  }
 
body{
/*    width: 500px;*/
    margin: 0 auto;
    background-color: #F4F4F4;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.card{
    width: 300px;
    height: 750px;
    text-align: center;
/*    position: fixed;*/
    margin-left: 50px;
    padding: 80px 32px;
    background-color: #f4f4f4;
    align-items: center;
    border-radius: 15px;
	margin-top: 1rem;
}

.mainCreateAccountCard{
	width: 600px;
    height: 750px;
    text-align: center;
/*    position: fixed;*/
    margin-left: 81px;
    padding: 80px 32px;
    background-color: #f4f4f4;
/*    align-items: center;*/
    border-radius: 15px;
	margin-top: 1rem;
}

button {
    background-color: #FFD84F;
    border: none;
}

button:hover {
    background-color: #FFDC7F;
    box-shadow: 0px 0px 2px #aaa;
}