
<head>
	<meta charset="UTF-8">
	<title>FYI</title>
</head>


<div class="container">
	<div class="row">
	
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
		
	<button mat-raised-button type="submit" class="btn" routerLink="/create-account" routerLinkActive="active" style="margin-top: 1rem;">Create Account</button>
	<br><br>

	<br><br><br>
		
		
	</div>
		
	<div class="col-md-6 mainCreateAccountCard">
		 <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" style="margin-top: 1rem;" class="btn" value="Reset Password" (click)="auth.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
		
		<button class="btn" style="background-color: #F4F4F4" routerLink="/login-page" routerLinkActive="active">Go back to Log In</button>
		
		</div>

	</div>

</div>	
<br>


