<body>

<!-- space for search bar! -->
<div class=container>
<div class="row">
	
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
		
	<button mat-raised-button type="submit" class="btn" routerLink="/create-account" routerLinkActive="active" style="margin-top: 1rem;">Create Account</button>
	<br><br>

	<br><br><br>
	</div>
	
	<div class="col-md-6 mainCreateAccountCard">
	
		<button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Post </button>
    <br><br>
    <div class="interests">    
        <div class="title">Popular Interests</div>
        <a routerLink="/more-interests" routerLinkActive="active" class="more" class="btn btn-default">More</a>    

        <div class="cards">
            <br><br>
            <a routerLink='/message-boards/MCAT' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">MCAT Study</p>
                <p>Anyone prepping for<br> July test?</p>
                <div class ="contact"> <a class="logolink" href="https://www.instagram.com/kris.life_/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @kris.life_</a></div>
            </div>
            </a>
            <a routerLink='/message-boards/CFA' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">CFA Study</p>
                 <p>Anyone wants to share <br>vegan recipes?</p>
                <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @olcious #2334</a></div>
            </div>
            </a>
            <a routerLink='/message-boards/Paint' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">Painting</p>
                <p>Any oil painting beginner <br>out there?</p>
                <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
            </div>
            </a>
            <a routerLink='message-boards/Cooking' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">Cooking</p>
                <p>Anyone wants to share <br>vegan recipes?</p>
                <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @olcious #2334</a></div>
            </div>
            </a>
        </div>
    </div>

    <br><br><br>

    <div class="courses">    
        <div class="title">Popular Courses</div>
        <a routerLink="/more-courses" routerLinkActive="active" class="more" class="btn btn-default">More</a>    
        
        <div class="cards">
            <br><br>

            <div class="course-card">
                <div class= "chatcontainer" ><a class = "chat" routerLink='/message-boards/MA227' routerLinkActive="active"><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                <p class="room-name">MA 227</p>
                <p>Prof Martin <br>HW & test prep</p>
                <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @kirsthl #2334</a></div>
            </div>

            <div class="course-card">
                <div class= "chatcontainer" ><a class = "chat" routerLink='/message-boards/E344' routerLinkActive="active"><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                <p class="room-name">E 344</p>
                <p>Dr Hector <br>HW</p>
                <div class ="contact"> <a class="logolink" href="https://www.instagram.com/j.a.c.simaes/"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logoig.jpg"> @j.a.c.simaes</a></div>
            </div>
            <div class="course-card">
                <div class= "chatcontainer" ><a class = "chat" routerLink='/message-boards/CS545' routerLinkActive="active"><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                <p class="room-name">CS 545</p>
                <p>Dr Kim <br>Quiz3 prep</p>
                <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @ohdjw #9800</a></div>
            </div>
            <div class="course-card">
                <div class= "chatcontainer" ><a class = "chat" routerLink='/message-boards/MA227' routerLinkActive="active"><img width="16" height="14" alt="instagram logo" class="logo" src="../assets/chat.png"> chat</a></div>
                <p class="room-name">MA 227</p>
                <p>Dr Lee <br>HW & test prep</p>
                <div class ="contact"> <a class="logolink" href="https://discord.com/app"><img width="14" height="14" alt="instagram logo" class="logo" src="../assets/logodiscord.jpg"> @jayhey #9864</a></div>
            </div>
        </div>
    </div>
	</div>
	</div> 
</div>
    
    
</body>