<body>

<!-- space for search bar! -->
<div class=container>
<div class="row">
	
	<div class="col-md-6 card">
	<h1>FYI</h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white">Login</button>
		
	<button mat-raised-button type="submit" class="btn" style="margin-top: 1rem;">Create Account</button>
	<br><br>

	<br><br><br>
	</div>
	
	<div class="col-md-6 mainCreateAccountCard">
	
		<button class="btn btn-warning" routerLink="/create-room" routerLinkActive="active">Create Room </button>
    <br><br>
    <div class="interests">    
        <div class="title">Popular Interests</div>
        <a routerLink="/more-interests" routerLinkActive="active" class="more" class="btn btn-default">More</a>    

        <div class="cards">
            <br><br>
            <a routerLink='/message-boards/MCAT' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">MCAT Study</p>
            </div>
            </a>
            <a routerLink='/message-boards/CFA' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">CFA Study</p>
            </div>
            </a>
            <a routerLink='/message-boards/Paint' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">Paint</p>
            </div>
            </a>
            <a routerLink='message-boards/Cooking' routerLinkActive="active">
            <div class="interest-card">
                <p class="room-name">Cooking</p>
            </div>
            </a>
        </div>
    </div>

    <br><br><br>

    <div class="courses">    
        <div class="title">Popular Courses</div>
        <a routerLink="/more-courses" routerLinkActive="active" class="more" class="btn btn-default">More</a>    
        
        <div class="cards">
            <br><br>
            <a routerLink='/message-boards/MA227' routerLinkActive="active">
            <div class="course-card">
                <p class="room-name">MA 227</p>
            </div>
            </a>
            <a routerLink='/message-boards/E344' routerLinkActive="active">
            <div class="course-card">
                <p class="room-name">E 344</p>
            </div>
            </a>
            <a routerLink='/message-boards/CS545' routerLinkActive="active">
            <div class="course-card">
                <p class="room-name">CS 545</p>
            </div>
            </a>
            <a routerLink='/message-boards/E234' routerLinkActive="active">
            <div class="course-card">
                <p class="room-name">E 234</p>
            </div>
            </a>
        </div>
    </div>
	</div>
	</div> 
</div>
    
    
</body>