p{
    width: 900px;
    /* text-align: center; */
    position: fixed;
    margin-left: 488px;

    /* align-items: center; */
    /* border-color: black;
    border-radius: 15px;
    border-width: 3px; */

}