
<div class="container">
	<!-- <div class="col-md-6 card">
	<h1><a href="/">FYI</a></h1>
	<h4>Find Ya Interest</h4>

	<button mat-raised-button type="submit" class="btn " routerLink="/login-page" routerLinkActive="active" style="background-color: white; width: 235px;
  padding: 15px 0px;
  background-color: #FFF;  
  margin-bottom: 17px;">Login</button>

	<br><br>

	<br><br><br>
	</div> -->
	
	<div class="mainCreateRoomCard">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <h2 style="font-size: 40px">Post Creation</h2>
<form [formGroup] = "createRoomForm" (ngSubmit)="onSubmit()">
    
        <select id="room-type" class="form-control" formControlName = "roomType" data-toggle="dropdown" required>
            <option value="" selected disabled hidden>Post Type</option>
            <option value="course">Course</option>
        <option value="interest">Interest</option>
      </select>
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Post Title (ex. CS 545)" formControlName="roomname" required>
    </div>
    <div class="form-group"> 
      <div class="course specific-room" formGroupName="courseRoom" style="display: none;">
        <input type="text" class="form-control" placeholder="Professor (ex. Prof Vesonder)" formControlName="professor" required>
        <input type="text"  class="form-control" placeholder="Course Number (ex. 545)" formControlName="courseNum" required>
    </div>
    </div>
    <div class="form-group">
    <div class="interest specific-room" formGroupName="interestRoom" style="display: none;">
        <input type="text"  class="form-control" placeholder="Interests (ex. Reading, Painting, etc.)" formControlName="interests" required>
       </div>
    </div>
    <div class="form-group">
        <textarea rows="5" cols="33" class="form-control" placeholder="Description (what should users know?)" formControlName="description" required>
        </textarea>
        </div>
          <div class="form-group">
            <input type="text"   class="form-control" placeholder="URL for Point of Contact" formControlName="url" required>
</div>
        <button type="submit" class="submitb" (click)="onSubmit()" routerLink="/" routerLinkActive="active">Create</button>
</form>
	
	</div>
	
	</div>
