<body>

    <h2>CS546 Message Board</h2>
    
    <div class="container">
      <img class='left' alt="Avatar">
      <p>I need some help with web programming for my project.
        Can someone help me out with some Javascript?
      </p>
      <span class="time-right">Monday 4:30pm</span>
    </div>
    
    <div class="container darker">
      <img src="" alt="Avatar" class="right">
      <p>To whoever has taken this course before:
        what is the courseload like?
      </p>
      <span class="time-left">2:00am</span>
    </div>
    
    </body>