<body>

    <h2>CS545 Message Board</h2>
    
    <div class="container">
      <img class='left' alt="Avatar">
      <p>I need some help with web programming for my project.
        Can someone help me out with some HTML?
      </p>
      <span class="time-right">5:00pm</span>
    </div>
    
    <div class="container darker">
      <img src="" alt="Avatar" class="right">
      <p>I need
        another team member! Anyone want to join?
      </p>
      <span class="time-left">5:10pm</span>
    </div>
    
    <div class="container">
      <img class='left' alt="Avatar">
      <p>Why I think CS545 is a great course</p>
      <span class="time-right">8:30pm</span>
    </div>
    
    </body>