<body>

    <h2>CS545 Message Board</h2>
    
    <div class="container">
      <img src="" alt="Avatar" style="width:100%;">
      <p>I need some help with web programming for my project.
        Can someone help me out with some HTML?
      </p>
      <span class="time-right">11:00pm</span>
    </div>
    
    <div class="container darker">
      <img src="" alt="Avatar" class="right" style="width:100%;">
      <p>Hey! I'm fine. Thanks for asking!</p>
      <span class="time-left">11:01</span>
    </div>
    
    <div class="container">
      <img src="" alt="Avatar" style="width:100%;">
      <p>Sweet! So, what do you wanna do today?</p>
      <span class="time-right">11:02</span>
    </div>
    
    <div class="container darker">
      <img src="" alt="Avatar" class="right" style="width:100%;">
      <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
      <span class="time-left">11:05</span>
    </div>
    
    </body>